body{
margin:0px;
font-family:'Arial';
}

#myapp{
float:left;
margin:10px;
padding:10px;
background:#006699;
border:1px solid black;
}

#myapp h1{
color:white;
margin:5px;
font-size:24px;
text-align:center;
}

.block{
padding:10px;
margin:5px;
background:#00004C;
}

.block input{
font-size:20px;
padding:10px;
width:300px;
text-align:center;
}

.block p{
color:white;
margin:5px;
font-size:20px;
text-align:center;
}